<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head data-th-replace="~{/layouts/header :: head}">

</head>
<body>
<div data-th-replace="~{/layouts/header :: header}"></div>



 <div class="container mt-5 col-lg-6" >
 
 		<div class="row mb-3">
        <h2 data-th-text="${editar}?'Editar Carrera':'Registrar Nueva Carrera'" class="mb-4"></h2>
        </div>
        <form data-th-action="${editar}?@{/carrera/modificar} : @{/carrera/guardar}" th:object="${carrera}" method="post">
        
            <div class="row mb-3 justify-content-center"th:if="${editar}">
                <label for="codigo">Código</label>
                <div>
                	
                	 <input type="number" th:readonly="${editar}?'readonly'" class="form-control" id="codigo" th:field="*{codigo}">
                </div>
               
            </div>
            
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required>
            </div>
            
            <div class="form-group">
                <label for="duracion">Duración de la Carrera</label>
                <input type="number" class="form-control" id="duracion" th:field="*{cantidadAnios}" required>
            </div>
            
            <div class="form-group" th:if="${editar}" >
                <label for="estado">Estado</label>
                <div class="col-sm-12 col-lg4">
                	<input class="form-check-input" type="radio" th:field="*{estado}" value="true" name="radioActiva" id="radioActiva">
                	<label class="form-check-label" for="radioActiva">Activa</label>
                	
                	<input class="form-check-input" type="radio" th:field="*{estado}" value="false" name="radioInactiva" id="radioInactiva">
                	<label class="form-check-label" for="radioInactiva">Inactiva</label>
          
                </div>        
            </div>
            <br>
            <p class="text-center"> <input type="submit" class="btn btn-primary" th:value="${editar}?'Editar':'Guardar'"></p>
        </form>
    </div>











<footer data-th-replace="~{/layouts/footer :: footer}"></footer>

<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>