<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head data-th-replace="~{/layouts/header :: head}">

</head>
<body>


 <footer class="footer" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="column-title">FACULTAD DE INGENIERÍA - UNJu</h5>
                    <p>📚 Ítalo Palanca Nº 10</p>
                    <p>🌍 San Salvador de Jujuy<br>Jujuy - Argentina</p>
                    <p>📧 <a href="mailto:info@fi.unju.edu.ar">info@fi.unju.edu.ar</a></p>
                    <h6>Aviso Legal</h6>
                    <a href="#">Términos y Condiciones</a><br>
                    <a href="#">Condiciones de uso del Correo Electrónico</a>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="column-title">Redes Sociales</h5>
                    <div class="links">
                        <a href="#">Facebook</a>
                        <a href="#">YouTube</a>
                        <a href="#">LinkedIn</a>
                        <a href="#">Instagram</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <h5 class="column-title">Enlaces de Interés</h5>
                    <div class="links">
                        <a href="#">Teléfonos</a>
                        <a href="#">Modelos de Notas</a>
                        <a href="#">SIU Guaraní</a>
                        <a href="#">Campus FI</a>
                        <a href="#">Protocolos de Bioseguridad</a>
                        <a href="#">Doctorado en Ingeniería Industrial</a>
                        <a href="#">Doctorado en Alimentos</a>
                        <a href="#">CODINOA</a>
                        <a href="#">Becas UNJu</a>
                        <a href="#">Sistema de Bibliotecas de la UNJu</a>
                        <a href="#">Biblioteca Electrónica C y T</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>