<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title data-th-text="${titulo}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" type="text/css" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" data-th-href="@{/css/estilos.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5-1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div th:fragment="header">    
    <header class="bg-light py-3">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <img th:src="@{/images/logo2.png}" alt="Logo" width="170" height="70" class="mr-3">
                <div>
                    <h1 class="h4 mb-0">Universidad Nacional de Jujuy</h1>
                    <p class="mb-0">Innovación y Conocimiento para un Mundo Mejor</p>
                </div>
            </div>
        </div>
    </header>
    <nav id="custom-navbar" class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="custom-nav navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/inicio}"><i class="fas fa-home"></i> Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-graduate"></i> Alumnos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" data-th-href="@{/alumno/listado}"><i class="fas fa-list"></i> Listado de Alumnos</a></li>
                            <li><a class="dropdown-item" data-th-href="@{/alumno/nuevo}"><i class="fas fa-user-plus"></i> Nuevo Alumno</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCarrera" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-graduation-cap"></i> Carreras
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownCarrera">
                            <li><a class="dropdown-item" data-th-href="@{/carrera/listado}"><i class="fas fa-list"></i> Listado de Carreras</a></li>
                            <li><a class="dropdown-item" data-th-href="@{/carrera/nuevo}"><i class="fas fa-plus"></i> Nueva Carrera</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDocente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-chalkboard-teacher"></i> Docentes
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownDocente">
        <li><a class="dropdown-item" data-th-href="@{/docente/listado}"><i class="fas fa-list"></i> Listado de Docentes</a></li>
        <li><a class="dropdown-item" data-th-href="@{/docente/nuevo}"><i class="fas fa-user-plus"></i> Nuevo Docente</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMateria" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-book-open"></i> Materias
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMateria">
        <li><a class="dropdown-item" data-th-href="@{/materia/listado}"><i class="fas fa-list"></i> Listado de Materias</a></li>
        <li><a class="dropdown-item" data-th-href="@{/materia/nuevo}"><i class="fas fa-plus"></i> Nueva Materia</a></li>
    </ul>
</li>
             
                    <li class="nav-item">
                        <a class="nav-link" data-th-href="@{/materiaConsultar/listado}"><i class="fas fa-search"></i> Consultar Alumno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/filtrarAlumno/formulario}"><i class="fas fa-filter"></i> Filtrar Alumno en una Materia</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>    

</body>
</html>