<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title data-th-text="${titulo}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" type="text/css" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" data-th-href="@{/css/estilos.css}">
 <style>
    /* CSS para mostrar el menú desplegable al hacer hover */
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    /* CSS para cambiar el color de fondo del menú desplegable */
    .dropdown-menu {
        background-color: #323A45;
        border-radius: 0; /* Elimina la curvatura de los bordes */
    }

    /* Opcional: CSS para cambiar el color del texto en el menú desplegable */
    .dropdown-item {
        color: #ffffff;
    }

    /* Opcional: CSS para cambiar el color del texto al hacer hover sobre los elementos del menú desplegable */
    .dropdown-item:hover {
        background-color: #2082A5;
        color: #ffffff;
    }
</style>

</head>
<body>

<div th:fragment="header">    

    <header class="bg-light py-3">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <img th:src="@{/images/logo2.png}" alt="Logo" width="170" height="70" class="mr-3">
                <div>
                    <h1 class="h4 mb-0">Universidad Nacional de Jujuy</h1>
                    <p class="mb-0">Innovación y Conocimiento para un Mundo Mejor</p>
                </div>
            </div>
        </div>
    </header>
    
    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" style="background-color: #2082A5;">
                        <a class="nav-link" th:href="@{/inicio}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button" aria-expanded="false">Alumnos</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/alumno/listado}">Consultar Alumnos</a></li>
                            <li><a class="dropdown-item" th:href="@{/alumno/nuevo}">Registrar Alumno</a></li>
                        </ul>
                    </li>
                    
                    
                  
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button" aria-expanded="false">Carreras</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/carrera/listado}">Listar Carreras</a></li>
                            <li><a class="dropdown-item" th:href="@{/carrera/nuevo}">Nueva Carrera</a></li>
                        </ul>
                    </li>
                    
                    
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button" aria-expanded="false">Docentes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/docente/listado}">Listar Docentes</a></li>
                            <li><a class="dropdown-item" th:href="@{/docente/nuevo}">Nuevo Docente</a></li>
                        </ul>
                    </li>
                    
                    
                    
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button" aria-expanded="false">Materias</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/materia/listado}">Consultar Materias</a></li>
                            <li><a class="dropdown-item" th:href="@{/materia/nuevo}">Nueva Materia</a></li>
                        </ul>
                    </li>
                    
                                   
                </ul>
            </div>
        </div>
    </nav>
</div>        

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
